body {
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    font-family: "DM Sans", -apple-system, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    background-color: #111;
    color: #ccc;
    padding: 0 32px;
}

h1.logo {
    text-align: center;
    padding: 256px 0;
    font-size: 64px;
    /*color: #888;*/
}

h1.logo>span.logo-dot {
}

h1.logo>span.logo-ai {
}

@media only screen and (max-width: 480px) {
    h1.logo {
        padding: 128px 0;
        font-size: 48px;
    }
}

@media only screen and (max-height: 480px) {
    h1.logo {
        padding: 96px 0;
    }
}

h2 {
    color: #ccc;
}

a {
    text-decoration: underline;
    color: #ccc;
}

footer {
    border-top: 1px solid #333;
    text-align: center;
    padding-top: 32px;
    margin-top: 64px;
    margin-bottom: 32px;
}